<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Container.Assemblies" type="System.Configuration.NameValueSectionHandler"/>
    <section name="Container.Types" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

  <Container.Assemblies>
    <add key="Ext" value=""></add>
  </Container.Assemblies>
  <Container.Types>
  </Container.Types>
</configuration>